body{
  overflow-x: hidden;
  overflow: overlay;
}

.title{
  width: 100%;
  text-align: right;
  /* position: absolute; */
}
#splash-wrapper-review{
  padding:0;
    width: 100%;
    /* height: 100vh; */
    height: -webkit-fill-available;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}
#splash-wrapper{
    width: 100%;
    /* height: 100vh; */
    height: -webkit-fill-available;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}
#splash-wrapper-2{
    width: 100%;
    /* height: 100vh; */
    height: -webkit-fill-available;

    display: flex;
    /* display: inline-grid;
    grid-template-columns: auto auto auto auto auto auto; */

    overflow: hidden;
}


.tab{
    width: 100px;
    height: 100%;
    border: 2px solid blue;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 0.5em;
}

.tab_full{
  width: 100%;
  height: 100vh;
  border: 2px solid red;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 0.5em;
  position: relative;
}



.tab_btn{
  max-width: 80%;
  text-align: center;
  border: none;
  border-radius: 25px;
  height: 50px;
  width: 50px;
  background-color: transparent;
  border: 2px solid red;
}
.tab_btn:hover{
  background-color: red;
  color:white;
}

.tab_btn h6{
  opacity: 0;
  margin-bottom: 0;
}

.tab.active{
  background-color: cyan;
  opacity: 0.8
}


#id_button{
  position: absolute;
  bottom: 0;
  margin: 0 auto;
}


.debug_btn{
  position: absolute;
  bottom: 0;
  background-color: cyan;
  padding: 1em;
  margin: 1em;
}


.absolute-navigation{
  position: absolute;
  bottom: 0;
  /* background-color: yellow; */
  border: 2px solid yellow;
  margin: 1em;
  z-index: 1
}

.absolute-navigation ul{
  list-style: none;
  padding: 1em;
  margin: 1em;
}
.absolute-navigation a:hover{
  color:blue;
}
.absolute-navigation a{
  color:blue;
  font-weight: 600;
}

.debug_active{
  background-color: gray;
}



#ghost-wrapper{

  /* border: 10px solid #ff0c00; */
  position: absolute;
}

.tab{
  position: relative;
  overflow: hidden;
  /* background-color: white; */
}
.tab > img{
  /* width: 100%; */
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -9;
}

/* On Chrome */
html::-webkit-scrollbar {
    display: none!important;
}
/* For Firefox and IE */
html {
    scrollbar-width: none!important;
    -ms-overflow-style: none!important;
}


.unactive_RGT{
  border: 2px solid orange;
}
.unactive_LFT{
  /* background-color: green; */
}

#circus_page{
  background-color: white;
}


.tab_header{
  width: 100%;
  z-index: 999;
}
.tab_full{
  overflow: hidden;
  padding-bottom: 0;
}

.tab_image{
  /* position: absolute;
  z-index: -9 */
}


@font-face {
    font-family: "Circus";
    src: url('fonts/circus-regular.woff');
}

p.title{
  font-family: "Circus";
  /* font-size: 3rem */
}


.tab_footer{
  /* width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  mix-blend-mode: invert; */
  background-color: white;
  background-color: white;
  position: absolute;
  right: 0;
  height: 100%;
  display: flex;
  justify-content: flex-end;

  writing-mode: vertical-rl;
  text-orientation: mixed;

  padding-bottom:1em;
}

p.tab_footer_text{
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
}



body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
html {
  height: -webkit-fill-available;
}


.tab_image_wrapper{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden
}
